extends layout

block CONTENIDO
  div(ng-controller="DashboardCtrl") 
    h1 Hola #{datos.NOMBRE}
    h1 con usuario #{datos.BOLETA}
    h1 correo #{datos.EMAIL}
    h1 y carrera #{datos.CARRERA}

block SCRIPTS 
  script(src="../assets/js/angular/A_Dashboard.js")
  script(src="../assets/js/angular/A_Usuarios.js")