extends layoutLogin

block SCRIPTS 
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    //- script(src="../assets/js/A_Validaciones.js"); 
    script(src="../assets/js/angular/A_login.js") 

    

block CONTENIDO_GENERAL
    main.main-content.mt-0(ng-controller="LoginCtrl")
            // Imagen de fondo
            .page-header.align-items-start.min-vh-50.pb-11.m-3.border-radius-lg(style="background-image: url('https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/img/curved-images/curved11.jpg');")
                span.mask.bg-gradient-dark.opacity-6
                // Cuadro de sesión
                .container
                    .row.justify-content-center
                        .col-lg-5.text-center.mx-auto
                            h1.text-white.mb-2.mt-5 UPIIZCOM!
                            p.text-lead.text-white Ingrese su número de boleta y contraseña para iniciar sesión
            .container
               
                .row.mt-lg-n10.mt-md-n11.mt-n10.justify-content-center
                    .col-xl-4.col-lg-5.col-md-7.mx-auto
                        .card.z-index-0
                            .card-header.text-center.pt-4.pb-0
                                h5 Inicio de sesión
                            .card-body.pb-0
                                
                                form.text-start(ng-controller='LoginCtrl' name='myForm' novalidate='')
                                    .mb-3
                                        input#boleta.form-control(type='text' placeholder='Boleta' aria-label='Usuario' ng-model='username' name='usuario' required='')
                                        span(style='color:red' ng-show='myForm.usuario.$dirty && myForm.usuario.$invalid')
                                        span(ng-show='myForm.usuario.$error.required') El usuario es requerido
                                    .mb-3
                                        input.form-control(type='password' placeholder='Boleta' aria-label='Password' ng-model='password' name='password' required='') 
                                        span(style='color:red' ng-show='myForm.password.$dirty && myForm.password.$invalid')
                                        span(ng-show='myForm.password.$error.required') La contraseña es requerida
                                    .form-check.form-switch
                                        input#rememberMe.form-check-input(type='checkbox')
                                        label.form-check-label(for='rememberMe') Recuérdame
                                    .text-center
                                        button.btn.bg-gradient-info.w-100.my-3.mb-2(type='button' ng-click=' makeLogin(); successSubscription();  myFunction(); ') Iniciar sesión
                            .text-center.pt-3.pb-1
                                p.text-xs
                                    | ¿Olvidaste tu contraseña?
                                    a.text-info.text-gradient.font-weight-bold(href='https://www.gesco.zacatecas.ipn.mx/index.php?r=user/recovery') Recuperar

       
 

        //- script(src='../assets/js/login.js')
        iframe(src='../bases/footer.html' scrolling='no' noresize='noresize' width='100%')
        script(src="../assets/js/angular/A_AndroidTests.js")                                           
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/popper.min.js')
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/bootstrap.min.js')
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/perfect-scrollbar.min.js')
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/smooth-scrollbar.min.js')
        
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/dragula/dragula.min.js')
        script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/jkanban/jkanban.js')
        script.
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
            damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }

        script(async='' defer='' src='https://buttons.github.io/buttons.js')
        
        script(src='../../assets/js/soft-ui-dashboard.min.js?v=1.0.4')
        