extends layout

block content
//
  div(style="color:#{color}")
    h1 Hola como estas  
    p Estamos desde Jade
  div(style="color:#{color}, font-size:20px")
    table(border=1)   
      th ID 
      th Nombre 
      tr 
        td 
          p 1
        td  
          p Fabricio
      tr 
        td 
          p 2
        td  
          p Mauro
      tr 
        td 
          p 3
        td  
          p Ruben
      tr 
        td 
          p 4
        td  
          p Cri
          
append menu          
append SCRIPTS