extends ../layout


block CONTENIDO
            .container-fluid.py-4(ng-controller='NoticiaCtrl')
                section.py-3
                    .row
                        .col-md-8.me-auto.text-left

                // ESTE COMPONETE ES DE PRUEBA
                #COMPONENTE.container-fluid
                    h1 {{saludo}}                                              
                    table.table()
                        tbody
                            tr
                                th Sala* (No editable)
                                th Tipo* (No editable)
                                th Descripcion
                                th Texto
                            tr
                                td
                                    input(type='text' ng-model='noticia.sala' readonly )
                                td
                                    input(type='text' ng-model='noticia.tipo' readonly)
                                td
                                    input(type='text' ng-model='noticia.descripcion')
                                td
                                    input(type='text' ng-model='noticia.texto' )
                                td
                                    button.btn.bg-gradient-secondary.ms-auto.mb-0(type='button' value='Actualizar' ng-click='updateNoticia()') Actualizar
 
                            tr(ng-repeat='u in salas')
                                td  {{u.sala}} 
                                td  {{u.tipo}}
                                td  {{u.descripcion}}
                                td  {{u.texto}}
                                td
                                    button.btn.bg-gradient-primary.ms-auto.mb-0(type='button' value='Eliminar' ng-click='delNoticia($index)') Eliminar
                                td
                                    button.btn.bg-gradient-secondary.ms-auto.mb-0(type='button' value='Editar' ng-click='editNoticia($index)') Editar   

                                // <td> <img src="{{g.imagen}}"/> </td>
            a(href="/noticia")                    
                button.btn.bg-gradient-dark.ms-auto.mb-0(type='button' value='Agregar' ng-click='addNoticia()') Regresar
block SCRIPTS
    //script(src='../../assets/js/angular/A_Usuarios.js')
    script(src='../../assets/js/angular/A_Noticia.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/popper.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/bootstrap.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/perfect-scrollbar.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/smooth-scrollbar.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/choices.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/dropzone.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/quill.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/multistep-form.js')
    script.
        if (document.getElementById('edit-deschiption')) {
            var quill = new Quill('#edit-deschiption', {
                theme: 'snow' 
            });
        };

        if (document.getElementById('choices-category')) {
            var element = document.getElementById('choices-category');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-sizes')) {
            var element = document.getElementById('choices-sizes');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-currency')) {
            var element = document.getElementById('choices-currency');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-tags')) {
            var tags = document.getElementById('choices-tags');
            const examples = new Choices(tags, {
                removeItemButton: true
            });
            examples.setChoices(
                [{
                    value: 'One',
                    label: 'Expired',
                    disabled: true
                }, {
                    value: 'Two',
                    label: 'Out of Stock',
                    selected: true
                }],
                'value',
                'label',
                false,
            );
        }
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/dragula/dragula.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/jkanban/jkanban.js')
    script.
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    script(async='' defer='' src='https://buttons.github.io/buttons.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/soft-ui-dashboard.min.js?v=1.0.4')
    