extends ../layout 

block CONTENIDO
    .container-fluid.py-4(ng-controller="CalendarCtrl")
        input(type="text" value="#{datos.BOLETA}" ng-show="false" id="username")
        .row
            .col-xl-9
                .card.card-calendar.contenedor
                    .card-body.p-3
                        #calendar.calendar(data-bs-toggle='calendar')
                    .col-12.col-lg-8.m-auto(id="eventoN" style="display: none")
                            form.multisteps-form__form.mb-8
                                .card.multisteps-form__panel.p-3.border-radius-xl.bg-white.js-active(data-animation='FadeIn')
                                    div(class="showHide" id="bar")
                                        div(id="rightCl")
                                            a(href="#" onclick="hide(eventoN)") x
                                        div(id="leftCl")
                                            h5.font-weight-bolder Informaci贸n del Evento 
                                    .multisteps-form__content
                                        .row.mt-3
                                            .col-12.col-sm-6
                                                label Nombre
                                                input.multisteps-form__input.form-control(type='text' placeholder='Nombre' id="name" onkeypress="return alfanumerico(event)" onpaste="return false")
                                            .col-12.col-sm-6.mt-3.mt-sm-0
                                                label Tipo
                                                select.form-control(name='choices-category' ng-model='tipo' id="type")
                                                    option(value='Grupal' selected='') Grupal
                                                    option(value='Global') Global 
                                                    option(value='Personal') Personal
                                        .row.mt-3(ng-show="tipo == 'Grupal'")
                                            label Grupo
                                                select.form-control(name='choices-category' id="group" ng-model='id_grupo')
                                                    option(ng-repeat="grupo in grupos" selected='' value="{{grupo._id}}") {{grupo.nombre}}
                                        .row.mt-3
                                            .col-12.col-sm-6
                                                label Fecha de inicio
                                                input.multisteps-form__input.form-control(type='date' id="fechaInicio")
                                            .col-12.col-sm-6
                                                label Fecha de fin
                                                input.multisteps-form__input.form-control(type='date' id="fechaFin")
                                        .row
                                            .col-sm-12
                                                label.mt-4 Descripci贸n
                                                p.form-text.text-muted.text-xs.ms-1.d-inline (opcional)
                                                input.multisteps-form__input.form-control(type="text"  placeholder='Descripcion' ng-model = 'grupo.descripcion' id="desc" onkeypress="return alfanumerico(event)" onpaste="return false")
                                        .button-row.d-flex.mt-4
                                            button.btn.bg-gradient-dark.ms-auto.mb-0.js-btn-next(type='button' onclick="newEvent()") Registrar
                    .col-12.col-lg-8.m-auto(id="evento_detalles" style="display: none")
                            form.multisteps-form__form.mb-8
                                .card.multisteps-form__panel.p-3.border-radius-xl.bg-white.js-active(data-animation='FadeIn')
                                    div(class="showHide" id="bar")
                                        div(id="rightCl")
                                            a(href="#" onclick="hide(evento_detalles)") x
                                        div(id="leftCl")
                                            h5.font-weight-bolder Informaci贸n del Evento 
                                    .multisteps-form__content
                                        .row.mt-3
                                            .col-12.col-sm-6
                                                label Nombre
                                                input.multisteps-form__input.form-control(id="name_det" readonly) 
                                            .col-12.col-sm-6.mt-3.mt-sm-0
                                                label Tipo
                                                input.multisteps-form__input.form-control(id="type_det" readonly)
                                        .row.mt-3
                                            .col-12.col-sm-6
                                                label Fecha de inicio
                                                input.multisteps-form__input.form-control(id="fechaInicio_det" readonly)
                                            .col-12.col-sm-6
                                                label Fecha de fin
                                                input.multisteps-form__input.form-control(id="fechaFin_det" readonly)
                                        .row
                                            .col-sm-12
                                                label.mt-4 Descripci贸n
                                                input.multisteps-form__input.form-control(id="desc_det" readonly)
                                        .button-row.d-flex.mt-4
                                            button.btn.bg-gradient-dark.ms-auto.mb-0.js-btn-next(type='button' onclick="deleteEvent()" id="dlt_event") Eliminar
block SCRIPTS
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/fullcalendar.min.js')
    script(src="../assets/js/calendar.js")
    script(src="../assets/js/angular/A_Calendario.js")