extends ../layout
 
block CONTENIDO
    .container-fluid.py-4(ng-controller='UsersCtrl')
        .row
            .col-12
                .card.mb-4 
                    .card-header.pb-0 
                        h6 Contactos 
                    .card-body.px-0.pt-0.pb-2 
                        .table-responsive.p-0
                            table(.table.align-items-center.mb-0)
                                thead
                                    tr 
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Persona 
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Boleta
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Grado 
                                        tr 
                                tbody
                                    tr(ng-repeat='u in usuarios') 
                                        td {{u.datos.nombre}}
                                        td {{u.username}}
                                        td {{u.tipo}} 
                                        td 
                                            button.btn.btn-icon.btn-3.btn-primary(ng-click="selectSala($index, #{datos.BOLETA})") Enviar Mensaje 
block SCRIPTS
    script(src='../../assets/js/angular/A_Usuarios.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/popper.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/core/bootstrap.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/perfect-scrollbar.min.js')
    script(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/js/plugins/smooth-scrollbar.min.js')